<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        table,tr,td{
        border:1px solid black;

       }



     h1,form {

     text-align:center;


     }





    </style>

     <!--css template-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--javascript template-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<h1 >To Do List</h1>


<br>
<br>



<form th:action="@{/saveTasks}"  th:object="${ToDo}"  method="post">




    <label for="username"> UserName</label>
    <input type="text" th:field="*{userName}" id="username"  required>


  <label for="task"> Add new Task</label>
    <input type="text" th:field="*{taskDescription}" id="task"  required>


  <label for="date"> Target Date  </label>
    <input type="date" th:field="*{targetDate}" id="date"  required>

    <label> Status </label>
    <select name="" id=""  th:field="*{status}">
        <option value="null">---selected---</option>
        <option value="completed"    >Completed</option>
        <option value="in process"   > In process</option>
        <option value="delayed"   > Delayed </option>
    </select>


  <button type="submit"   class="btn btn-primary"  >Submit</button>



</form>


<br>
<br>

<br>

<table class="table table-bordered" >

    <tr>
       <td>Slno</td>
        <td>UserName</td>
        <td> Tasks</td>
        <td> Target Date</td>
        <td></td>
        <td></td>
        <td>Status</td>

    </tr>

    <tr th:each="Todos , rowStat:${TODos}">

        <td th:text="${rowStat.count}" ></td>
        <td th:text="${Todos.userName}" ></td>
        <td th:text="${Todos.taskDescription}" ></td>
        <td th:text="${Todos.targetDate}">   </td>
        <td>  <a th:href="@{/editTasks/{id}(id=${Todos.id})}">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></a></td>

        <td><a th:href="@{/deleteTasks/{id}(id=${Todos.id})}"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg></a></td>



         <td th:text="${Todos.status}"> </td>




    </tr>

</table>



</body>
</html>